
body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    margin: auto;
    padding: 10px;
}


.navbar-spf {
    background: #4a4b4b; 
    padding: 10px;
    color: white;
}

.spf-logo {
    background: #d4af37; 
    color: #003366;
    padding: 5px;
    font-weight: bold;
}


.navbar-spf-menu {
    list-style: none;
    padding: 0;
}

.navbar-spf-menu li {
    display: inline;
    margin-right: 15px;
}

.navbar-spf-menu a {
    color: white;
    text-align: right;
    text-decoration: underline;
}


.header-spf {
    background: #0056a3; 
    color: white;
    text-align: center;
    padding: 20px;
}


section {
    background: white;
    margin: 15px 0;
    padding: 15px;
}


h3 {
    color: #0d0d0e; 
    text-decoration: underline;
}


#spf {
    background: #e6f2ff; 
}


.footer-spf {
    background: #7e8081; 
    color: white;
    text-align: center;
    padding: 10px;
}

.spf-email {
    color: #d4af37; 
    font-weight: bold;
}